<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="show.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Products List</title>
  </head>
  <body>
    <%- include('nav.ejs') %>

    <div class="top">
      <% products.forEach(product => { %>
      <div class="all-products">
        <div class="single-product">
          <a href="/getOne/<%= product._id %>">
            <img
              id="image"
              src="https://res.cloudinary.com/dkwmmww8q/image/upload/<%= product.productImage.public_id %>"
              alt="<%= product.Name %>"
            />
          </a>

          <div class="product-details">
            <h1 id="name"><%= product.Name %></h1>
            <h3 id="price">₹<%= product.Price %></h3>
            <div class="btn">
              <button id="btn1">Add+</button>
              <button id="btn2">Buy</button>
              <button id="btn3">Rent</button>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
