<!-- <script src="show.js"></script> -->
<link rel="stylesheet" href="show.css" />
<link rel="stylesheet" href="style.css" />
<%-include('nav.ejs') %>
<style>
 
</style>
<body>
  <div class="top">
   
  <% products.forEach(product => { %>
  <div class="all-products">
    <div class="single-product">
      <img
        id="image"
        src='https://res.cloudinary.com/dkwmmww8q/image/upload/<%= product.productImage.public_id %>'
        alt="<%= product.Name %>"
        srcset=""
       
      />

      <div class="product-details">

       <h1 id="name"><%= product.Name %></h1>
        <h3 id="price">₹<%= product.Price %></h2>
          <div class="btn">
          <button id="btn1">Add+</button>
            <button  id="btn2">Buy</button>
          <button  id="btn3">Rent</button>
        </div>
      </div>
    </div>
  </div>

  <% }) %>
</div>
</body>
<%-include('footer.ejs') %>